!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}/
    %title= I18n.t('company_name')
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    / enable this line if you have font-awesome pro. Make sure to add your integrity key in your ENV file
    /= stylesheet_link_tag    'https://pro.fontawesome.com/releases/v5.7.2/css/all.css', media: 'all', 'data-turbolinks-track': 'reload', integrity:ENV['FONT_AWESOME_INTEGRITY'], crossorigin: 'anonymous'
    - if Rails.env.production?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', "#{ENV['GOOGLE_ANALYTICS']}", 'auto');
  %body
    = render 'layouts/navbar' if user_signed_in?
    = render 'layouts/public_navbar' if !user_signed_in?
    .container.mt-5
      = flash_messages
      = yield
    /= render 'layouts/footer'
    = link_to "https://twitter.com/elijahmurray" do
      = image_tag gravatar_url("elijah@matterproductstudio.com", 30), class: 'rounded-circle mr-1'
      = "@elijahmurray"
