<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/navbar' if user_signed_in? %>
    <%= render 'layouts/public_navbar' if !user_signed_in? %>

    <%= flash_messages %>

    <div class="container mt-5">
      <%= yield %>
    </div>
  </body>
</html>

